<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds" method="post">
      
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title">
        <div class="form-text" id="basic-addon4">Campground</div>
      </div>
      
      <div class="mb-3">
        <label class="form-lable" for="location">Location</label>
        <input class="form-control" type="text" name="location" id="location" placeholder="Location">
      </div>
      
      <div class="mb-3">
        <label class="form-lable" for="price">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input class="form-control" type="text" name="price" id="price" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">.00</span>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-lable" for="image">Image</label>
        <input class="form-control" type="text" name="image" id="image" value="https://picsum.photos/400?random=<%= Math.random() %>"/>
      </div>

      <div class="mb-3">
        <label class="form-lable" for="description">Description</label>
        <input class="form-control" type="text" name="description" id="description">
      </div>

      <button class="btn btn-primary" type="submit">Submit New Campground</button>
    </form>
  </div>
</div>