<% layout('layouts/boilerplate') %>

<h1><%= camp.title %></h1>

<ul>
  <li>Location: <%= camp.location %></li>
</ul>

<a href="/campgrounds/<%= camp._id %>/edit">Edit this campground.</a><br>
<a href="/campgrounds">All Campgrounds</a>