<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Shop</title>
</head>
<body>
    <h1>Products Page</h1>
    <table>
        <caption>
          Front-end web developer course 2021
        </caption>
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
            <% for (let product of products) { %>
                <tr>
                    <td><a href="/shop/<%= product._id %>"><%= product.name %></a></td>
                    <td><%= product.price %></td>
                    <td><%= product.category %></td>
                </tr>      
            <% } %>
        </tbody>
      </table>
</body>
</html>