    <footer class="footer is-align-content-flex-end">
      <div class="content has-text-centered">
        <p>
          <strong>By:</strong> Mark Pinho
        </p>
      </div>
    </footer>
  </div>
</body>
</html>